{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Manejo de mensajes ya sea de exito como de error-->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="POST">
      <h1>Agregar Mascota</h1>
      <table>
        {{formaMascota}}
      </table>
      <button type="submit" class="button">Enviar</button>
      {% csrf_token %}
      <!--variable para pasar validación-->
    </form>
{% endblock content %}
